<div class="main">
  <div>
    <h4>{{ targetImage.title }}</h4>
    <img class="img" [src]="targetImage.url" alt="img.title" />
  </div>
  <nav aria-label="..." style="cursor: pointer">
    <ul class="pagination">
      <li class="page-item" [appMyNgClass]="{ disabled: isDisabled() }">
        <a (click)="previousImage()" class="page-link">Previous</a>
      </li>
      <li class="page-item" *appMyNgFor="images.length; let i = index">
        <a
          class="page-link"
          (click)="setCurrentImage(i)"
          [appMyNgClass]="{ active: isActive(i) }"
          *ngIf="i < 5"
        >
          {{ i + 1 }}
        </a>
        <a class="page-link active" *ngIf="i === currentImage && i >= 5">{{
          i + 1
        }}</a>
        <a
          class="page-link"
          *ngIf="i === images.length - 1 && currentImage !== images.length - 1"
          >{{ images.length }}</a
        >
      </li>
      <li class="page-item">
        <a (click)="nextImage()" class="page-link">Next</a>
      </li>
    </ul>
  </nav>
</div>
